.center-column {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.center-row {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

#products {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: beige;

    width: 100vw;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    font: 3rem 'Oxygen', serif;
    color: #1e4269;
}

.productsItem {
    width: 300px;
    height: 600px;
    
    margin-top: 25px;

    padding-left: 25px;
    padding-right: 25px;
    
    margin-left: 25px;
    margin-right: 25px;

    border-radius: 25px;
    background-color: white;
    color: #1f102a;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);

}

.itemImg {
    margin-top: 25px;
    width: 150px;
    border-radius: 15px;
}

.small-text {
    margin-top: 25px;
    margin-bottom: 25px;
    font: 500 1rem 'Oxygen', serif;
    text-align: center;
}

.addToCartButton {
    padding: 15px;

    border-radius: 25px;
    border: 5px solid #1f102a;
    
    color: #1f102a;
    font-size: 1rem;
}

.addToCartButton:hover {
    background-color: #1f102a;
    color: beige;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    cursor: pointer
}
